<!DOCTYPE html><html><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,minimum-scale=1,maximum-scale=1"><title>蔡灏的小站</title><link href=http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css rel=stylesheet><script src=http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js></script><script src=http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js></script><link href=./static/css/app.08e284084f90c39285bf5feca1887011.css rel=stylesheet></head><body><!--[if lte IE 8]>
    <div style="position: absolute;top: 0">
      <p>您正在使用的浏览器版本过低,建议使用<a href="https://www.google.com/chrome/browser/desktop/index.html">chrome浏览器</a>或<a href="https://support.microsoft.com/zh-cn/products/internet-explorer#!zh-cn/products/internet-explorer">更新</a>您的浏览器</p>
      <p>如果您在使用双核浏览器，请切换到高速 / 极速 / 神速核心。</p>
    </div>
    <![endif]--><div id=app></div><script type=text/javascript src=./static/js/manifest.766c9b3f77bfcdf22234.js></script><script type=text/javascript src=./static/js/vendor.36faa9979b74ae1432b2.js></script><script type=text/javascript src=./static/js/app.a52e98f7ab7ffdec4df3.js></script></body></html>